.Caption2 {
    margin: bottom 3px;;
    text-align: center;
}
.button2{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: rgb(243, 241, 237);
}
.carousel-fade{
    transition: opacity 0s 2.6s;
}