.background_image {
    background-image: url('http://localhost:3000/Images/BillerPageBanner.jfif');
    width: 100vw;
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.info_section {
    padding-top: 4rem;
}

.description_section {
    padding-top: 5rem;
}

.table_header>th {
    font-size: 40px;
    color: rgb(65, 196, 240);
    font-weight: 300;
}

.table_data>td {
    font-size: 30px;
    color: white;
}

.billing_section>h4 {
    padding-left: 20rem;
    color: rgb(65, 196, 240);
    font-weight: 100;
}

.billing_section>h1 {
    padding-left: 20rem;
    color: white;
    font-size: 60px;
}

.billing_section>h2 {
    padding-left: 20rem;
    color: white;
    font-size: 30px;
}

.billing_section>Button {
    background-color: black;
    width: 15rem;
    font-size: 30px;
    margin-left: 20rem;
    margin-top: 2rem;
}